/.vscode
/Eff_MC
/Ilu_Decaimento.C
/JIC
/PlotAllInOneHist.C
/PlotAllInOneHist_MC.C
/PlotAllInOneHist_nocutted.C
/PlotAllVar.C
/PlotAllVar_MC.C
/PlotCanvas.C
/PlotDataAndMC.C
/Pur_DM_Cut.C
/Pur_MCTRUEID_Cut.C
/corteD_MKKP.png
/macro_PlotAllVar
/macro_PlotDataAndMC
/macro_teste
/macros
/ntpmaker_mc_finalCuts.C
/tutorial_root